@font-face {
  font-family: Spotify Circular Light;
  src: url('/public/fonts/CircularSpUIv3T-Light.woff2');
}

@font-face {
  font-family: Spotify Circular Bold;
  src: url('/public/fonts/CircularSpUIv3T-Bold.woff2');
}

@font-face {
  font-family: Spotify Circular Book;
  src: url('/public/fonts/CircularSpUIv3T-Book.woff2');
}

@font-face {
  font-family: Spoticon;
  src: url('/public/fonts/spoticon_regular_2.woff2');
}
body {
  text-align: center;
  background-color: #212121;
  color: #b3b3b3;
  font-family: 'Spotify Circular';
  font-size: 14px;
  min-width:300px;
  min-height:360px;
  margin:0;
}
h1,h2,h3,p{
  font-family: "Spotify Circular Bold";
  margin: 10px 0;
}

